USE [master]
GO
/****** Object:  Database [GameStore]    Script Date: 5/29/2026 5:36:47 PM ******/
CREATE DATABASE [GameStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GameStore', FILENAME = N'D:\SQL2025\MSSQL17.SQLEXPRESS\MSSQL\DATA\GameStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GameStore_log', FILENAME = N'D:\SQL2025\MSSQL17.SQLEXPRESS\MSSQL\DATA\GameStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GameStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GameStore]
GO
/****** Object:  Table [dbo].[cart_items]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[game_id] [bigint] NOT NULL,
	[quantity] [int] NOT NULL,
	[addedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[slug] [varchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_categories]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_categories](
	[game_id] [bigint] NOT NULL,
	[category_id] [bigint] NOT NULL,
 CONSTRAINT [PK_game_categories] PRIMARY KEY CLUSTERED 
(
	[game_id] ASC,
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[game_media]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[game_media](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[game_id] [bigint] NOT NULL,
	[mediaType] [varchar](50) NOT NULL,
	[mediaUrl] [nvarchar](500) NOT NULL,
	[isPrimary] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[games]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[games](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[publisher_id] [bigint] NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[slug] [varchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[price] [decimal](15, 2) NOT NULL,
	[developer] [nvarchar](255) NULL,
	[releaseDate] [date] NULL,
	[minimumRequirements] [nvarchar](max) NULL,
	[recommendedRequirements] [nvarchar](max) NULL,
	[status] [varchar](50) NOT NULL,
	[createdAt] [datetime2](0) NOT NULL,
	[original_price] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kyc_requests]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kyc_requests](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[documentUrl] [nvarchar](500) NULL,
	[taxId] [nvarchar](100) NULL,
	[status] [varchar](50) NOT NULL,
	[submittedAt] [datetime2](0) NOT NULL,
	[processedAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[library_items]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[library_items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[game_id] [bigint] NOT NULL,
	[license_key_id] [bigint] NOT NULL,
	[status] [varchar](50) NOT NULL,
	[acquiredAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[license_keys]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[license_keys](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[game_id] [bigint] NOT NULL,
	[keyString] [varchar](255) NOT NULL,
	[order_item_id] [bigint] NULL,
	[owner_id] [bigint] NULL,
	[status] [varchar](50) NOT NULL,
	[createdAt] [datetime2](0) NOT NULL,
	[assignedAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[game_id] [bigint] NOT NULL,
	[unitPrice] [decimal](15, 2) NOT NULL,
	[discountAmount] [decimal](15, 2) NOT NULL,
	[paidAmount] [decimal](15, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[subtotalAmount] [decimal](15, 2) NOT NULL,
	[discountAmount] [decimal](15, 2) NOT NULL,
	[totalAmount] [decimal](15, 2) NOT NULL,
	[promo_code_id] [bigint] NULL,
	[status] [varchar](50) NOT NULL,
	[createdAt] [datetime2](0) NOT NULL,
	[paidAt] [datetime2](0) NULL,
	[paymentMethod] [varchar](50) NULL,
	[fullName] [nvarchar](255) NULL,
	[phone] [nvarchar](50) NULL,
	[address] [nvarchar](500) NULL,
	[province] [nvarchar](100) NULL,
	[district] [nvarchar](100) NULL,
	[ward] [nvarchar](100) NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patch_notes]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patch_notes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[game_id] [bigint] NOT NULL,
	[version] [varchar](100) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[publishedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payout_requests]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payout_requests](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[publisher_id] [bigint] NOT NULL,
	[amount] [decimal](15, 2) NOT NULL,
	[bankAccountInfo] [nvarchar](max) NULL,
	[status] [varchar](50) NOT NULL,
	[requestedAt] [datetime2](0) NOT NULL,
	[processedAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[promo_codes]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[promo_codes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[publisher_id] [bigint] NULL,
	[code] [varchar](100) NOT NULL,
	[discountPercentage] [decimal](5, 2) NOT NULL,
	[expiryDate] [datetime2](0) NULL,
	[usageLimit] [int] NULL,
	[currentUsage] [int] NOT NULL,
	[status] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[publisher_profiles]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[publisher_profiles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[companyName] [nvarchar](255) NULL,
	[website] [nvarchar](255) NULL,
	[supportEmail] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[refund_requests]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[refund_requests](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[order_id] [bigint] NOT NULL,
	[order_item_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[amount] [decimal](15, 2) NOT NULL,
	[reason] [nvarchar](max) NULL,
	[status] [varchar](50) NOT NULL,
	[requestedAt] [datetime2](0) NOT NULL,
	[processedAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[game_id] [bigint] NOT NULL,
	[user_id] [bigint] NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](max) NULL,
	[publisherReply] [nvarchar](max) NULL,
	[createdAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[system_settings]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[system_settings](
	[setting_key] [varchar](100) NOT NULL,
	[setting_value] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[setting_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ticket_messages]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ticket_messages](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ticket_id] [bigint] NOT NULL,
	[sender_id] [bigint] NOT NULL,
	[message] [nvarchar](max) NOT NULL,
	[sentAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tickets]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tickets](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[related_game_id] [bigint] NULL,
	[related_order_id] [bigint] NULL,
	[subject] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
	[status] [varchar](50) NOT NULL,
	[createdAt] [datetime2](0) NOT NULL,
	[updatedAt] [datetime2](0) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_roles]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_roles](
	[user_id] [bigint] NOT NULL,
	[role_id] [bigint] NOT NULL,
 CONSTRAINT [PK_user_roles] PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[fullName] [nvarchar](255) NULL,
	[avatar] [nvarchar](500) NULL,
	[status] [varchar](50) NOT NULL,
	[createdAt] [datetime2](0) NOT NULL,
	[username] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wallet_transactions]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wallet_transactions](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[wallet_id] [bigint] NOT NULL,
	[type] [varchar](50) NOT NULL,
	[amount] [decimal](15, 2) NOT NULL,
	[status] [varchar](50) NOT NULL,
	[referenceId] [nvarchar](255) NULL,
	[createdAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wallets]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wallets](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[balance] [decimal](15, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wishlists]    Script Date: 5/29/2026 5:36:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wishlists](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[user_id] [bigint] NOT NULL,
	[game_id] [bigint] NOT NULL,
	[addedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[cart_items] ON 

INSERT [dbo].[cart_items] ([id], [user_id], [game_id], [quantity], [addedAt]) VALUES (46, 6, 1, 1, CAST(N'2026-05-28T23:42:14.0000000' AS DateTime2))
INSERT [dbo].[cart_items] ([id], [user_id], [game_id], [quantity], [addedAt]) VALUES (54, 5, 8, 1, CAST(N'2026-05-29T17:35:25.0000000' AS DateTime2))
INSERT [dbo].[cart_items] ([id], [user_id], [game_id], [quantity], [addedAt]) VALUES (55, 5, 3, 1, CAST(N'2026-05-29T17:36:48.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[cart_items] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name], [slug], [description]) VALUES (1, N'Action', N'action', N'Game hành động')
INSERT [dbo].[categories] ([id], [name], [slug], [description]) VALUES (2, N'RPG', N'rpg', N'Game nhập vai')
INSERT [dbo].[categories] ([id], [name], [slug], [description]) VALUES (3, N'Strategy', N'strategy', N'Game chiến thuật')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
INSERT [dbo].[game_categories] ([game_id], [category_id]) VALUES (4, 1)
INSERT [dbo].[game_categories] ([game_id], [category_id]) VALUES (4, 2)
INSERT [dbo].[game_categories] ([game_id], [category_id]) VALUES (5, 1)
GO
SET IDENTITY_INSERT [dbo].[game_media] ON 

INSERT [dbo].[game_media] ([id], [game_id], [mediaType], [mediaUrl], [isPrimary]) VALUES (1, 1, N'IMAGE', N'https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/1139900/header.jpg', 1)
INSERT [dbo].[game_media] ([id], [game_id], [mediaType], [mediaUrl], [isPrimary]) VALUES (2, 2, N'IMAGE', N'https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/671860/header.jpg', 1)
INSERT [dbo].[game_media] ([id], [game_id], [mediaType], [mediaUrl], [isPrimary]) VALUES (3, 3, N'IMAGE', N'https://shared.akamai.steamstatic.com/store_item_assets/steam/apps/292030/header.jpg', 1)
SET IDENTITY_INSERT [dbo].[game_media] OFF
GO
SET IDENTITY_INSERT [dbo].[games] ON 

INSERT [dbo].[games] ([id], [publisher_id], [title], [slug], [description], [price], [developer], [releaseDate], [minimumRequirements], [recommendedRequirements], [status], [createdAt], [original_price]) VALUES (1, 1, N'Cyber Quest', N'cyber-quest', N'Game mẫu để test cart, checkout, license key và refund.', CAST(150000.00 AS Decimal(15, 2)), N'Demo Studio', NULL, NULL, NULL, N'ACTIVE', CAST(N'2026-04-27T18:29:19.0000000' AS DateTime2), CAST(187500.00 AS Decimal(18, 2)))
INSERT [dbo].[games] ([id], [publisher_id], [title], [slug], [description], [price], [developer], [releaseDate], [minimumRequirements], [recommendedRequirements], [status], [createdAt], [original_price]) VALUES (2, 1, N'Pixel War', N'pixel-war', N'Game mẫu để test cart, checkout, license key và refund.', CAST(99000.00 AS Decimal(15, 2)), N'Demo Studio', NULL, NULL, NULL, N'ACTIVE', CAST(N'2026-04-27T18:29:19.0000000' AS DateTime2), CAST(123750.00 AS Decimal(18, 2)))
INSERT [dbo].[games] ([id], [publisher_id], [title], [slug], [description], [price], [developer], [releaseDate], [minimumRequirements], [recommendedRequirements], [status], [createdAt], [original_price]) VALUES (3, 1, N'Mystic RPG', N'mystic-rpg', N'Game mẫu để test cart, checkout, license key và refund.', CAST(250000.00 AS Decimal(15, 2)), N'Demo Studio', NULL, NULL, NULL, N'ACTIVE', CAST(N'2026-04-27T18:29:19.0000000' AS DateTime2), CAST(312500.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[games] OFF
GO
SET IDENTITY_INSERT [dbo].[library_items] ON 

INSERT [dbo].[library_items] ([id], [user_id], [game_id], [license_key_id], [status], [acquiredAt]) VALUES (1, 1, 3, 8, N'ACTIVE', CAST(N'2026-05-28T09:33:35.0000000' AS DateTime2))
INSERT [dbo].[library_items] ([id], [user_id], [game_id], [license_key_id], [status], [acquiredAt]) VALUES (6, 1, 9, 25, N'ACTIVE', CAST(N'2026-05-28T17:04:16.0000000' AS DateTime2))
INSERT [dbo].[library_items] ([id], [user_id], [game_id], [license_key_id], [status], [acquiredAt]) VALUES (7, 1, 8, 22, N'ACTIVE', CAST(N'2026-05-28T17:04:16.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[library_items] OFF
GO
SET IDENTITY_INSERT [dbo].[license_keys] ON 

INSERT [dbo].[license_keys] ([id], [game_id], [keyString], [order_item_id], [owner_id], [status], [createdAt], [assignedAt]) VALUES (2, 1, N'CYBER_QUEST-KEY-0002', 52, 5, N'SOLD', CAST(N'2026-04-27T18:29:19.0000000' AS DateTime2), CAST(N'2026-05-29T15:21:22.0000000' AS DateTime2))
INSERT [dbo].[license_keys] ([id], [game_id], [keyString], [order_item_id], [owner_id], [status], [createdAt], [assignedAt]) VALUES (3, 1, N'CYBER_QUEST-KEY-0003', NULL, NULL, N'AVAILABLE', CAST(N'2026-04-27T18:29:19.0000000' AS DateTime2), NULL)
INSERT [dbo].[license_keys] ([id], [game_id], [keyString], [order_item_id], [owner_id], [status], [createdAt], [assignedAt]) VALUES (6, 2, N'PIXEL_WAR-KEY-0003', 50, 5, N'SOLD', CAST(N'2026-04-27T18:29:19.0000000' AS DateTime2), CAST(N'2026-05-29T15:16:15.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[license_keys] OFF
GO
SET IDENTITY_INSERT [dbo].[order_items] ON 

INSERT [dbo].[order_items] ([id], [order_id], [game_id], [unitPrice], [discountAmount], [paidAmount], [quantity], [status]) VALUES (50, 43, 2, CAST(99000.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), CAST(99000.00 AS Decimal(15, 2)), 1, N'PAID')
INSERT [dbo].[order_items] ([id], [order_id], [game_id], [unitPrice], [discountAmount], [paidAmount], [quantity], [status]) VALUES (52, 45, 1, CAST(150000.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), CAST(150000.00 AS Decimal(15, 2)), 1, N'PAID')
INSERT [dbo].[order_items] ([id], [order_id], [game_id], [unitPrice], [discountAmount], [paidAmount], [quantity], [status]) VALUES (53, 46, 4, CAST(59.99 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), CAST(59.99 AS Decimal(15, 2)), 1, N'PAID')
SET IDENTITY_INSERT [dbo].[order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id], [user_id], [subtotalAmount], [discountAmount], [totalAmount], [promo_code_id], [status], [createdAt], [paidAt], [paymentMethod], [fullName], [phone], [address], [province], [district], [ward], [notes]) VALUES (43, 5, CAST(99000.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), CAST(99000.00 AS Decimal(15, 2)), NULL, N'PAID', CAST(N'2026-05-29T15:16:15.0000000' AS DateTime2), CAST(N'2026-05-29T15:16:15.0000000' AS DateTime2), N'WALLET', N'Nguyễn Thành Vinh', N'0000000000', N'a a a a a', N'12387|Tỉnh Hà Tĩnh', N'', N'Xã Cẩm Trung', N'')
INSERT [dbo].[orders] ([id], [user_id], [subtotalAmount], [discountAmount], [totalAmount], [promo_code_id], [status], [createdAt], [paidAt], [paymentMethod], [fullName], [phone], [address], [province], [district], [ward], [notes]) VALUES (45, 5, CAST(150000.00 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), CAST(150000.00 AS Decimal(15, 2)), NULL, N'PAID', CAST(N'2026-05-29T15:21:22.0000000' AS DateTime2), CAST(N'2026-05-29T15:21:22.0000000' AS DateTime2), N'WALLET', N'Nguyễn Thành Vinh', N'0000000000', N'a a a a a', N'12387|Tỉnh Hà Tĩnh', N'', N'Xã Yên Hòa', N'')
INSERT [dbo].[orders] ([id], [user_id], [subtotalAmount], [discountAmount], [totalAmount], [promo_code_id], [status], [createdAt], [paidAt], [paymentMethod], [fullName], [phone], [address], [province], [district], [ward], [notes]) VALUES (46, 5, CAST(59.99 AS Decimal(15, 2)), CAST(0.00 AS Decimal(15, 2)), CAST(59.99 AS Decimal(15, 2)), NULL, N'PAID', CAST(N'2026-05-29T15:22:24.0000000' AS DateTime2), CAST(N'2026-05-29T15:22:24.0000000' AS DateTime2), N'WALLET', N'Nguyễn Thành Vinh', N'0000000000', N'a a a a a', N'12386|Tỉnh Nghệ An', N'', N'Xã Minh Châu', N'')
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[promo_codes] ON 

INSERT [dbo].[promo_codes] ([id], [publisher_id], [code], [discountPercentage], [expiryDate], [usageLimit], [currentUsage], [status]) VALUES (1, NULL, N'SALE10', CAST(10.00 AS Decimal(5, 2)), NULL, 100, 0, N'ACTIVE')
SET IDENTITY_INSERT [dbo].[promo_codes] OFF
GO
SET IDENTITY_INSERT [dbo].[publisher_profiles] ON 

INSERT [dbo].[publisher_profiles] ([id], [user_id], [companyName], [website], [supportEmail]) VALUES (1, 2, N'Demo Studio', NULL, N'publisher@test.com')
INSERT [dbo].[publisher_profiles] ([id], [user_id], [companyName], [website], [supportEmail]) VALUES (2, 1, N'Ubisoft Entertainment', N'https://ubisoft.com', NULL)
SET IDENTITY_INSERT [dbo].[publisher_profiles] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id], [code], [description]) VALUES (1, N'ROLE_USER', N'Người dùng bình thường')
INSERT [dbo].[roles] ([id], [code], [description]) VALUES (2, N'ROLE_PUBLISHER', N'Nhà phát hành')
INSERT [dbo].[roles] ([id], [code], [description]) VALUES (3, N'ROLE_ADMIN', N'Quản trị viên')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
INSERT [dbo].[system_settings] ([setting_key], [setting_value]) VALUES (N'PLATFORM_COMMISSION_PERCENTAGE', N'10.0')
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [email], [password], [fullName], [avatar], [status], [createdAt], [username]) VALUES (1, N'user@test.com', N'$2a$10$N9qo8uLOickgx2ZMRZoMyeIjZRGdjGj/n3.wEfmFGpXRa3T.AzGKy', N'Demo User', N'default-avatar.png', N'ACTIVE', CAST(N'2026-04-27T18:29:19.0000000' AS DateTime2), N'demouser')
INSERT [dbo].[users] ([id], [email], [password], [fullName], [avatar], [status], [createdAt], [username]) VALUES (2, N'publisher@test.com', N'$2a$10$N9qo8uLOickgx2ZMRZoMyeIjZRGdjGj/n3.wEfmFGpXRa3T.AzGKy', N'Demo Publisher', N'default-avatar.png', N'ACTIVE', CAST(N'2026-04-27T18:29:19.0000000' AS DateTime2), N'demopublisher')
INSERT [dbo].[users] ([id], [email], [password], [fullName], [avatar], [status], [createdAt], [username]) VALUES (3, N'admin@test.com', N'$2a$10$N9qo8uLOickgx2ZMRZoMyeIjZRGdjGj/n3.wEfmFGpXRa3T.AzGKy', N'Demo Admin', N'default-avatar.png', N'ACTIVE', CAST(N'2026-04-27T18:29:19.0000000' AS DateTime2), N'demoadmin')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[wallet_transactions] ON 

INSERT [dbo].[wallet_transactions] ([id], [wallet_id], [type], [amount], [status], [referenceId], [createdAt]) VALUES (10, 5, N'DEPOSIT', CAST(200000.00 AS Decimal(15, 2)), N'SUCCESS', N'RECH_1780034377307', CAST(N'2026-05-29T12:59:37.0000000' AS DateTime2))
INSERT [dbo].[wallet_transactions] ([id], [wallet_id], [type], [amount], [status], [referenceId], [createdAt]) VALUES (11, 5, N'DEPOSIT', CAST(100000.00 AS Decimal(15, 2)), N'SUCCESS', N'RECH_1780035518461', CAST(N'2026-05-29T13:18:38.0000000' AS DateTime2))
INSERT [dbo].[wallet_transactions] ([id], [wallet_id], [type], [amount], [status], [referenceId], [createdAt]) VALUES (12, 5, N'DEPOSIT', CAST(200000.00 AS Decimal(15, 2)), N'SUCCESS', N'RECH_1780035662908', CAST(N'2026-05-29T13:21:03.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[wallet_transactions] OFF
GO
SET IDENTITY_INSERT [dbo].[wallets] ON 

INSERT [dbo].[wallets] ([id], [user_id], [balance]) VALUES (4, 6, CAST(0.00 AS Decimal(15, 2)))
INSERT [dbo].[wallets] ([id], [user_id], [balance]) VALUES (5, 5, CAST(950940.01 AS Decimal(15, 2)))
SET IDENTITY_INSERT [dbo].[wallets] OFF
GO
/****** Object:  Index [UQ_cart_items_user_game]    Script Date: 5/29/2026 5:36:48 PM ******/
ALTER TABLE [dbo].[cart_items] ADD  CONSTRAINT [UQ_cart_items_user_game] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[game_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__categori__32DD1E4C1E20BC85]    Script Date: 5/29/2026 5:36:48 PM ******/
ALTER TABLE [dbo].[categories] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__categori__72E12F1B5E63AC46]    Script Date: 5/29/2026 5:36:48 PM ******/
ALTER TABLE [dbo].[categories] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__games__32DD1E4CAE8E39EE]    Script Date: 5/29/2026 5:36:48 PM ******/
ALTER TABLE [dbo].[games] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__library___A9027E2219F9BC57]    Script Date: 5/29/2026 5:36:48 PM ******/
ALTER TABLE [dbo].[library_items] ADD UNIQUE NONCLUSTERED 
(
	[license_key_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_library_items_user_game]    Script Date: 5/29/2026 5:36:48 PM ******/
ALTER TABLE [dbo].[library_items] ADD  CONSTRAINT [UQ_library_items_user_game] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[game_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__license___71C28F6A8EC00D47]    Script Date: 5/29/2026 5:36:48 PM ******/
ALTER TABLE [dbo].[license_keys] ADD UNIQUE NONCLUSTERED 
(
	[keyString] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_license_keys_order_item_id]    Script Date: 5/29/2026 5:36:48 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_license_keys_order_item_id] ON [dbo].[license_keys]
(
	[order_item_id] ASC
)
WHERE ([order_item_id] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_order_items_order_game]    Script Date: 5/29/2026 5:36:48 PM ******/
ALTER TABLE [dbo].[order_items] ADD  CONSTRAINT [UQ_order_items_order_game] UNIQUE NONCLUSTERED 
(
	[order_id] ASC,
	[game_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__promo_co__357D4CF99E9273B5]    Script Date: 5/29/2026 5:36:48 PM ******/
ALTER TABLE [dbo].[promo_codes] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__publishe__B9BE370E4AEC9F92]    Script Date: 5/29/2026 5:36:48 PM ******/
ALTER TABLE [dbo].[publisher_profiles] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__refund_r__3764B6BDD0FF42E9]    Script Date: 5/29/2026 5:36:48 PM ******/
ALTER TABLE [dbo].[refund_requests] ADD UNIQUE NONCLUSTERED 
(
	[order_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_reviews_user_game]    Script Date: 5/29/2026 5:36:48 PM ******/
ALTER TABLE [dbo].[reviews] ADD  CONSTRAINT [UQ_reviews_user_game] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[game_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__357D4CF9D928433D]    Script Date: 5/29/2026 5:36:48 PM ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__AB6E61647EE7170F]    Script Date: 5/29/2026 5:36:48 PM ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_users_email]    Script Date: 5/29/2026 5:36:48 PM ******/
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [UQ_users_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__wallets__B9BE370E3EECF565]    Script Date: 5/29/2026 5:36:48 PM ******/
ALTER TABLE [dbo].[wallets] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_wishlists_user_game]    Script Date: 5/29/2026 5:36:48 PM ******/
ALTER TABLE [dbo].[wishlists] ADD  CONSTRAINT [UQ_wishlists_user_game] UNIQUE NONCLUSTERED 
(
	[user_id] ASC,
	[game_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cart_items] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[cart_items] ADD  DEFAULT (sysdatetime()) FOR [addedAt]
GO
ALTER TABLE [dbo].[game_media] ADD  DEFAULT ((0)) FOR [isPrimary]
GO
ALTER TABLE [dbo].[games] ADD  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[games] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[games] ADD  DEFAULT (sysdatetime()) FOR [createdAt]
GO
ALTER TABLE [dbo].[kyc_requests] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[kyc_requests] ADD  DEFAULT (sysdatetime()) FOR [submittedAt]
GO
ALTER TABLE [dbo].[library_items] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[library_items] ADD  DEFAULT (sysdatetime()) FOR [acquiredAt]
GO
ALTER TABLE [dbo].[license_keys] ADD  DEFAULT ('AVAILABLE') FOR [status]
GO
ALTER TABLE [dbo].[license_keys] ADD  DEFAULT (sysdatetime()) FOR [createdAt]
GO
ALTER TABLE [dbo].[order_items] ADD  DEFAULT ((0)) FOR [discountAmount]
GO
ALTER TABLE [dbo].[order_items] ADD  DEFAULT ((0)) FOR [paidAmount]
GO
ALTER TABLE [dbo].[order_items] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[order_items] ADD  DEFAULT ('PAID') FOR [status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [subtotalAmount]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [discountAmount]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [totalAmount]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (sysdatetime()) FOR [createdAt]
GO
ALTER TABLE [dbo].[patch_notes] ADD  DEFAULT (sysdatetime()) FOR [publishedAt]
GO
ALTER TABLE [dbo].[payout_requests] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[payout_requests] ADD  DEFAULT (sysdatetime()) FOR [requestedAt]
GO
ALTER TABLE [dbo].[promo_codes] ADD  DEFAULT ((0)) FOR [currentUsage]
GO
ALTER TABLE [dbo].[promo_codes] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[refund_requests] ADD  DEFAULT ((0)) FOR [amount]
GO
ALTER TABLE [dbo].[refund_requests] ADD  DEFAULT ('PENDING') FOR [status]
GO
ALTER TABLE [dbo].[refund_requests] ADD  DEFAULT (sysdatetime()) FOR [requestedAt]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (sysdatetime()) FOR [createdAt]
GO
ALTER TABLE [dbo].[ticket_messages] ADD  DEFAULT (sysdatetime()) FOR [sentAt]
GO
ALTER TABLE [dbo].[tickets] ADD  DEFAULT ('OPEN') FOR [status]
GO
ALTER TABLE [dbo].[tickets] ADD  DEFAULT (sysdatetime()) FOR [createdAt]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (N'default-avatar.png') FOR [avatar]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ('ACTIVE') FOR [status]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (sysdatetime()) FOR [createdAt]
GO
ALTER TABLE [dbo].[wallet_transactions] ADD  DEFAULT (sysdatetime()) FOR [createdAt]
GO
ALTER TABLE [dbo].[wallets] ADD  DEFAULT ((0)) FOR [balance]
GO
ALTER TABLE [dbo].[wishlists] ADD  DEFAULT (sysdatetime()) FOR [addedAt]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FK_cart_items_games] FOREIGN KEY([game_id])
REFERENCES [dbo].[games] ([id])
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FK_cart_items_games]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FK_cart_items_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FK_cart_items_users]
GO
ALTER TABLE [dbo].[game_categories]  WITH CHECK ADD  CONSTRAINT [FK_game_categories_categories] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[game_categories] CHECK CONSTRAINT [FK_game_categories_categories]
GO
ALTER TABLE [dbo].[game_categories]  WITH CHECK ADD  CONSTRAINT [FK_game_categories_games] FOREIGN KEY([game_id])
REFERENCES [dbo].[games] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[game_categories] CHECK CONSTRAINT [FK_game_categories_games]
GO
ALTER TABLE [dbo].[game_media]  WITH CHECK ADD  CONSTRAINT [FK_game_media_games] FOREIGN KEY([game_id])
REFERENCES [dbo].[games] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[game_media] CHECK CONSTRAINT [FK_game_media_games]
GO
ALTER TABLE [dbo].[games]  WITH CHECK ADD  CONSTRAINT [FK_games_publishers] FOREIGN KEY([publisher_id])
REFERENCES [dbo].[publisher_profiles] ([id])
GO
ALTER TABLE [dbo].[games] CHECK CONSTRAINT [FK_games_publishers]
GO
ALTER TABLE [dbo].[kyc_requests]  WITH CHECK ADD  CONSTRAINT [FK_kyc_requests_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[kyc_requests] CHECK CONSTRAINT [FK_kyc_requests_users]
GO
ALTER TABLE [dbo].[library_items]  WITH CHECK ADD  CONSTRAINT [FK_library_items_games] FOREIGN KEY([game_id])
REFERENCES [dbo].[games] ([id])
GO
ALTER TABLE [dbo].[library_items] CHECK CONSTRAINT [FK_library_items_games]
GO
ALTER TABLE [dbo].[library_items]  WITH CHECK ADD  CONSTRAINT [FK_library_items_license_keys] FOREIGN KEY([license_key_id])
REFERENCES [dbo].[license_keys] ([id])
GO
ALTER TABLE [dbo].[library_items] CHECK CONSTRAINT [FK_library_items_license_keys]
GO
ALTER TABLE [dbo].[library_items]  WITH CHECK ADD  CONSTRAINT [FK_library_items_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[library_items] CHECK CONSTRAINT [FK_library_items_users]
GO
ALTER TABLE [dbo].[license_keys]  WITH CHECK ADD  CONSTRAINT [FK_license_keys_games] FOREIGN KEY([game_id])
REFERENCES [dbo].[games] ([id])
GO
ALTER TABLE [dbo].[license_keys] CHECK CONSTRAINT [FK_license_keys_games]
GO
ALTER TABLE [dbo].[license_keys]  WITH CHECK ADD  CONSTRAINT [FK_license_keys_order_items] FOREIGN KEY([order_item_id])
REFERENCES [dbo].[order_items] ([id])
GO
ALTER TABLE [dbo].[license_keys] CHECK CONSTRAINT [FK_license_keys_order_items]
GO
ALTER TABLE [dbo].[license_keys]  WITH CHECK ADD  CONSTRAINT [FK_license_keys_users] FOREIGN KEY([owner_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[license_keys] CHECK CONSTRAINT [FK_license_keys_users]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK_order_items_games] FOREIGN KEY([game_id])
REFERENCES [dbo].[games] ([id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK_order_items_games]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK_order_items_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK_order_items_orders]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_promo_codes] FOREIGN KEY([promo_code_id])
REFERENCES [dbo].[promo_codes] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_promo_codes]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK_orders_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK_orders_users]
GO
ALTER TABLE [dbo].[patch_notes]  WITH CHECK ADD  CONSTRAINT [FK_patch_notes_games] FOREIGN KEY([game_id])
REFERENCES [dbo].[games] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[patch_notes] CHECK CONSTRAINT [FK_patch_notes_games]
GO
ALTER TABLE [dbo].[payout_requests]  WITH CHECK ADD  CONSTRAINT [FK_payout_requests_publishers] FOREIGN KEY([publisher_id])
REFERENCES [dbo].[publisher_profiles] ([id])
GO
ALTER TABLE [dbo].[payout_requests] CHECK CONSTRAINT [FK_payout_requests_publishers]
GO
ALTER TABLE [dbo].[promo_codes]  WITH CHECK ADD  CONSTRAINT [FK_promo_codes_publishers] FOREIGN KEY([publisher_id])
REFERENCES [dbo].[publisher_profiles] ([id])
GO
ALTER TABLE [dbo].[promo_codes] CHECK CONSTRAINT [FK_promo_codes_publishers]
GO
ALTER TABLE [dbo].[publisher_profiles]  WITH CHECK ADD  CONSTRAINT [FK_publisher_profiles_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[publisher_profiles] CHECK CONSTRAINT [FK_publisher_profiles_users]
GO
ALTER TABLE [dbo].[refund_requests]  WITH CHECK ADD  CONSTRAINT [FK_refund_requests_order_items] FOREIGN KEY([order_item_id])
REFERENCES [dbo].[order_items] ([id])
GO
ALTER TABLE [dbo].[refund_requests] CHECK CONSTRAINT [FK_refund_requests_order_items]
GO
ALTER TABLE [dbo].[refund_requests]  WITH CHECK ADD  CONSTRAINT [FK_refund_requests_orders] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[refund_requests] CHECK CONSTRAINT [FK_refund_requests_orders]
GO
ALTER TABLE [dbo].[refund_requests]  WITH CHECK ADD  CONSTRAINT [FK_refund_requests_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[refund_requests] CHECK CONSTRAINT [FK_refund_requests_users]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_games] FOREIGN KEY([game_id])
REFERENCES [dbo].[games] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_games]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK_reviews_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK_reviews_users]
GO
ALTER TABLE [dbo].[ticket_messages]  WITH CHECK ADD  CONSTRAINT [FK_ticket_messages_tickets] FOREIGN KEY([ticket_id])
REFERENCES [dbo].[tickets] ([id])
GO
ALTER TABLE [dbo].[ticket_messages] CHECK CONSTRAINT [FK_ticket_messages_tickets]
GO
ALTER TABLE [dbo].[ticket_messages]  WITH CHECK ADD  CONSTRAINT [FK_ticket_messages_users] FOREIGN KEY([sender_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[ticket_messages] CHECK CONSTRAINT [FK_ticket_messages_users]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_games] FOREIGN KEY([related_game_id])
REFERENCES [dbo].[games] ([id])
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [FK_tickets_games]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_orders] FOREIGN KEY([related_order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [FK_tickets_orders]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [FK_tickets_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [FK_tickets_users]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[roles] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_roles]
GO
ALTER TABLE [dbo].[user_roles]  WITH CHECK ADD  CONSTRAINT [FK_user_roles_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[user_roles] CHECK CONSTRAINT [FK_user_roles_users]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [FK_wallet_transactions_wallets] FOREIGN KEY([wallet_id])
REFERENCES [dbo].[wallets] ([id])
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [FK_wallet_transactions_wallets]
GO
ALTER TABLE [dbo].[wallets]  WITH CHECK ADD  CONSTRAINT [FK_wallets_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[wallets] CHECK CONSTRAINT [FK_wallets_users]
GO
ALTER TABLE [dbo].[wishlists]  WITH CHECK ADD  CONSTRAINT [FK_wishlists_games] FOREIGN KEY([game_id])
REFERENCES [dbo].[games] ([id])
GO
ALTER TABLE [dbo].[wishlists] CHECK CONSTRAINT [FK_wishlists_games]
GO
ALTER TABLE [dbo].[wishlists]  WITH CHECK ADD  CONSTRAINT [FK_wishlists_users] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[wishlists] CHECK CONSTRAINT [FK_wishlists_users]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [CK_cart_items_quantity] CHECK  (([quantity]=(1)))
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [CK_cart_items_quantity]
GO
ALTER TABLE [dbo].[game_media]  WITH CHECK ADD  CONSTRAINT [CK_game_media_type] CHECK  (([mediaType]='VIDEO_TRAILER' OR [mediaType]='IMAGE'))
GO
ALTER TABLE [dbo].[game_media] CHECK CONSTRAINT [CK_game_media_type]
GO
ALTER TABLE [dbo].[games]  WITH CHECK ADD  CONSTRAINT [CK_games_price] CHECK  (([price]>=(0)))
GO
ALTER TABLE [dbo].[games] CHECK CONSTRAINT [CK_games_price]
GO
ALTER TABLE [dbo].[games]  WITH CHECK ADD  CONSTRAINT [CK_games_status] CHECK  (([status]='REJECTED' OR [status]='PENDING' OR [status]='COMING_SOON' OR [status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[games] CHECK CONSTRAINT [CK_games_status]
GO
ALTER TABLE [dbo].[kyc_requests]  WITH CHECK ADD  CONSTRAINT [CK_kyc_requests_status] CHECK  (([status]='REJECTED' OR [status]='APPROVED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[kyc_requests] CHECK CONSTRAINT [CK_kyc_requests_status]
GO
ALTER TABLE [dbo].[library_items]  WITH CHECK ADD  CONSTRAINT [CK_library_items_status] CHECK  (([status]='DISABLED' OR [status]='REFUNDED' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[library_items] CHECK CONSTRAINT [CK_library_items_status]
GO
ALTER TABLE [dbo].[license_keys]  WITH CHECK ADD  CONSTRAINT [CK_license_keys_status] CHECK  (([status]='DISABLED' OR [status]='REFUNDED' OR [status]='SOLD' OR [status]='RESERVED' OR [status]='AVAILABLE'))
GO
ALTER TABLE [dbo].[license_keys] CHECK CONSTRAINT [CK_license_keys_status]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [CK_order_items_amounts] CHECK  (([unitPrice]>=(0) AND [discountAmount]>=(0) AND [paidAmount]>=(0) AND [discountAmount]<=[unitPrice]))
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [CK_order_items_amounts]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [CK_order_items_quantity] CHECK  (([quantity]=(1)))
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [CK_order_items_quantity]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [CK_order_items_status] CHECK  (([status]='REFUND_REJECTED' OR [status]='REFUNDED' OR [status]='REFUND_REQUESTED' OR [status]='PAID'))
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [CK_order_items_status]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CK_orders_amounts] CHECK  (([subtotalAmount]>=(0) AND [discountAmount]>=(0) AND [totalAmount]>=(0) AND [discountAmount]<=[subtotalAmount]))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CK_orders_amounts]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [CK_orders_status] CHECK  (([status]='REFUNDED' OR [status]='PARTIALLY_REFUNDED' OR [status]='CANCELLED' OR [status]='FAILED' OR [status]='PAID' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [CK_orders_status]
GO
ALTER TABLE [dbo].[payout_requests]  WITH CHECK ADD  CONSTRAINT [CK_payout_requests_amount] CHECK  (([amount]>(0)))
GO
ALTER TABLE [dbo].[payout_requests] CHECK CONSTRAINT [CK_payout_requests_amount]
GO
ALTER TABLE [dbo].[payout_requests]  WITH CHECK ADD  CONSTRAINT [CK_payout_requests_status] CHECK  (([status]='PAID' OR [status]='REJECTED' OR [status]='APPROVED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[payout_requests] CHECK CONSTRAINT [CK_payout_requests_status]
GO
ALTER TABLE [dbo].[promo_codes]  WITH CHECK ADD  CONSTRAINT [CK_promo_codes_discount] CHECK  (([discountPercentage]>=(0) AND [discountPercentage]<=(100)))
GO
ALTER TABLE [dbo].[promo_codes] CHECK CONSTRAINT [CK_promo_codes_discount]
GO
ALTER TABLE [dbo].[promo_codes]  WITH CHECK ADD  CONSTRAINT [CK_promo_codes_status] CHECK  (([status]='EXPIRED' OR [status]='INACTIVE' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[promo_codes] CHECK CONSTRAINT [CK_promo_codes_status]
GO
ALTER TABLE [dbo].[promo_codes]  WITH CHECK ADD  CONSTRAINT [CK_promo_codes_usage] CHECK  (([currentUsage]>=(0) AND ([usageLimit] IS NULL OR [currentUsage]<=[usageLimit])))
GO
ALTER TABLE [dbo].[promo_codes] CHECK CONSTRAINT [CK_promo_codes_usage]
GO
ALTER TABLE [dbo].[refund_requests]  WITH CHECK ADD  CONSTRAINT [CK_refund_requests_amount] CHECK  (([amount]>=(0)))
GO
ALTER TABLE [dbo].[refund_requests] CHECK CONSTRAINT [CK_refund_requests_amount]
GO
ALTER TABLE [dbo].[refund_requests]  WITH CHECK ADD  CONSTRAINT [CK_refund_requests_status] CHECK  (([status]='REJECTED' OR [status]='APPROVED' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[refund_requests] CHECK CONSTRAINT [CK_refund_requests_status]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [CK_reviews_rating] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [CK_reviews_rating]
GO
ALTER TABLE [dbo].[tickets]  WITH CHECK ADD  CONSTRAINT [CK_tickets_status] CHECK  (([status]='CLOSED' OR [status]='RESOLVED' OR [status]='WAITING_USER' OR [status]='IN_PROGRESS' OR [status]='OPEN'))
GO
ALTER TABLE [dbo].[tickets] CHECK CONSTRAINT [CK_tickets_status]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK_users_status] CHECK  (([status]='DELETED' OR [status]='LOCKED' OR [status]='ACTIVE'))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK_users_status]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [CK_wallet_transactions_amount] CHECK  (([amount]>(0)))
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [CK_wallet_transactions_amount]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [CK_wallet_transactions_status] CHECK  (([status]='CANCELLED' OR [status]='FAILED' OR [status]='SUCCESS' OR [status]='PENDING'))
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [CK_wallet_transactions_status]
GO
ALTER TABLE [dbo].[wallet_transactions]  WITH CHECK ADD  CONSTRAINT [CK_wallet_transactions_type] CHECK  (([type]='ADJUSTMENT' OR [type]='PAYOUT' OR [type]='REFUND' OR [type]='PURCHASE' OR [type]='WITHDRAW' OR [type]='DEPOSIT'))
GO
ALTER TABLE [dbo].[wallet_transactions] CHECK CONSTRAINT [CK_wallet_transactions_type]
GO
ALTER TABLE [dbo].[wallets]  WITH CHECK ADD  CONSTRAINT [CK_wallets_balance] CHECK  (([balance]>=(0)))
GO
ALTER TABLE [dbo].[wallets] CHECK CONSTRAINT [CK_wallets_balance]
GO
USE [master]
GO
